.value-display{
    text-align: left !important;
    margin: 0px;
    padding: 20px;
    font-size: larger;
    width: 100%;
}

#hero{
    display: flex;
    align-items: center;
    padding-top: 10%;
    min-width: 100% !important;
    width: auto;
    min-height: 100vh !important;
}

.logout-btn{
    background-color: #347C17;
    border-radius: 5px !important;
    color: white !important;
    padding: 5px !important;
    text-decoration: none !important;
    /* width: 48px; */
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.card-block{
    background-color: transparent;
}


#dataAttributeDivTable::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #dataAttributeDivTable {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.display-text{
    padding: 10px; 
    background-color: transparent; 
    border: none; 
    -webkit-box-shadow:none;
}

@media only screen and (min-width:1200px) {
    .select2-container{
        width: 250px;
    }
}

@media only screen and (max-width:1200px) {
    .table-div{
        display: -webkit-inline-box; 
        overflow-x: scroll; 
        width: 100%;
        min-height: 350px;
    }
}

