.value-display{
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-size: larger;
    width: 100%;
}

#hero{
    display: flex;
    align-items: center;
    padding-top: 10%;
    min-width: 100% !important;
    width: auto;
}

.logout-btn{
    background-color: #347C17;
    border-radius: 5px !important;
    color: white !important;
    padding: 5px !important;
    text-decoration: none !important;
    /* width: 48px; */
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.card-block{
    background-color: transparent;
}

@media only screen and (min-width:1200px) {
    .select2-container{
        width: 250px;
    }
}

