{% load static %}

<script type="text/javascript" src="{% static 'dashboard/files/bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'dashboard/files/assets/pages/waves/js/waves.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/modernizr/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/modernizr/js/css-scrollbars.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/select2/js/select2.full.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'dashboard/files/bower_components/multiselect/js/jquery.multi-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/files/assets/js/jquery.quicksearch.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/files/assets/pages/advance-elements/select2-custom.js' %}"></script>
    <script src="{% static 'dashboard/files/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'dashboard/files/assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'dashboard/files/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/files/assets/js/script.js' %}"></script>

<script type="text/javascript" src="{% static 'dashboard/files/assets/pages/advance-elements/select2-custom.js' %}"></script>