{% load static %}

<script type="text/javascript" src="{% static 'dashboard/files/bower_components/jquery/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/files/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/files/bower_components/popper.js/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/files/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'dashboard/files/assets/pages/waves/js/waves.min.js' %}"></script>

<script type="text/javascript" src="{% static 'dashboard/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'dashboard/files/assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'dashboard/files/assets/js/vertical/vertical-layout.min.js' %}"></script>

<script type="text/javascript" src="{% static 'dashboard/files/assets/js/script.min.js' %}"></script>