<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BizLand Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'index/img/favicon.png' %}" rel="icon">
  <link href="{% static 'index/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'index/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'index/css/style.css' %}" rel="stylesheet">

  <link href="{% static 'css/index.css' %}" rel="stylesheet">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo error"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto active" href="#about">About-us</a></li>
          <li><a class="nav-link scrollto active" href="#contact">Contact-us</a></li>

          {% if user.is_authenticated %}
            <li><a class="nav-link scrollto" href="{% url 'selections' %}">Selection</a></li>
          {% endif %}

          {% if user.is_authenticated %}
            <li><a class="logout-btn" href="{% url 'logout' %}">logout</a></li>
          {% else %}
            <li>

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: #347C17;">
                login
              </button>
              
              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog" id="login-modal">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Login</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <form role="form" action="{% url 'login' %}" class="modal-form" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="text" class="form-control" id="usrname" name="username" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password"  class="form-control" name="password" id="psw" placeholder="Enter password">
                      </div>
                        <button type="submit" class="btn btn-modal-submit btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                    </form>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <div>
                        <p style="margin: 0px;" id="create-account">Dont have an account? <span class="create-account-btn"><b>create account</b></span></p>
                        <a href="{% url 'reset_password' %}" style="text-decoration: none;">Forget Password?</a>
                      </div>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>

                <div class="modal-dialog" id="sign-up-modal">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Sign-up</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <form role="form" action="{% url 'register' %}" class="modal-form" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="text" class="form-control" name="username" id="usrname" placeholder="Enter Username" required>
                      </div>
                      <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                      </div>
                      <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" name="password1" id="psw" placeholder="Enter password" required>
                      </div>
                      <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Confirm Password</label>
                        <input type="password" class="form-control" name="password2" id="psw" placeholder="Enter password again" required>
                      </div>
                        <button type="submit" class="btn btn-modal-submit btn-block"><span class="glyphicon glyphicon-off"></span> Sign up</button>
                    </form>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <div>
                        <p style="margin: 0px;">Have an account? <span class="login-account-btn" id="login-account-btn"><b>Login</b></span></p>
                      </div>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
            </li>
            {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% if msg %}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
  {% endif %}

  {% if form.errors.username %}
      <div class="alert alert-danger">{{form.errors}}</div>
  {% endif %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <br><span>LeverGreen Energy</span></h1>
      <br>
      <h2 style="max-width: 63%;">The mission of LeverGreen is to provide curated data service to renewable 
        developers and power infrastructure investors to help with the asset due 
        diligence and strategic investment planning. 
        </h2>
      <div class="d-flex">

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn-get-started scrollto">logout</a>
          {% else %}
            <a style="cursor: pointer; text-decoration: none;" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#myModal">Get Started</a>
          {% endif %}

        
       </div>
    </div>
  </section><!-- End Hero -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about section-bg">
        <div class="container we-do-container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Working</h2>
            <h3>Find Out More About <span>What we do.</span></h3>
          </div>

          <div class="we-do-card-div">
            <div class="card we-do-card">
              <img class="card-img-top we-do-img" src="{% static 'images/pic1.jpg' %}" alt="Card image cap">
              <div class="we-do-text">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <br>

            <div class="card we-do-card">
              <img class="card-img-top we-do-img" src="{% static 'images/pic2.jpg' %}" alt="Card image cap">
              <div class="we-do-text">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <h3><span>Contact Us</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>contact@example.com</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
  
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-6 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
  
            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span style="color: #237c00;">LeverGreen Energy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->


  <!-- Vendor JS Files -->
  <script src="{% static 'index/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'index/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'index/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'index/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'index/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'index/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'index/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'index/js/main.js' %}"></script>

  <script src="{% static 'js/home.js' %}"></script>

</body>

</html>